@using Marketplace.ViewModels
@model IEnumerable<Marketplace.ViewModels.SimplifiedAdvertisementViewModel>
@{
    var countAds = @Model.Count();
}

@if (countAds==0)
{
    <h3>You have no advertisements. Consider creating one.</h3>
    <a asp-action="Create" asp-controller="Advertisement" class="btn btn-primary mb-4">Create An Advertisement</a> @*this should redirect to CreateAdvertisement view*@
}
else
{
    <h3>My Advertisements</h3>
    <a asp-action="Create" asp-controller="Advertisement" class="btn btn-primary mb-4">Create An Advertisement</a> @*this should redirect to CreateAdvertisement view*@
    
    <div class="container">
        @for (var i = 0; i < countAds; i+=4) // responsible for the row count, on each row I want exactly 4 elements, after those 4 elements make a new row
        {
            <div class="row">
            @for (var j = 0; j < 4; j++) // I want 4 columns on current row
            {
                @if (i+j==countAds) // stop displaying if we've reached the end
                {
                    break;
                }

                var currentAd = Model.ElementAt(i+j);
                <div class="card col-3 border border-primary rounded p-0 mb-3">
                    <img src="data:image;base64,@currentAd.ImageInBase64" class="card-img-top">

                    <div class="card-body text-center">
                        <h6 class="card-title">@currentAd.Title</h6>
                    </div>
                    <div class="card-footer bg-light">
                        <div class="text-center">
                            <h6 class="font-s">@currentAd.Price EUR</h6>
                            <a class="btn btn-sm btn-dark" asp-action="Show" asp-controller="Advertisement" asp-route-id="@currentAd.Id">SHOW</a>
                            <a class="btn btn-sm btn-warning" asp-action="Edit" asp-controller="Advertisement" asp-route-id="@currentAd.Id">EDIT</a>
                            <a class="btn btn-sm btn-danger" onclick="showDeleteAdModal('@currentAd.Title',@currentAd.Id)">DELETE</a>
                        </div>
                    </div>
                        <h6 class="bg-warning text-dark p-1 m-0">@currentAd.Location</h6>
                        <h6 class="bg-success text-white p-1 m-0">@currentAd.Category</h6>
                </div>
            }
            </div>
        }
    </div>


<!-- Modal -->
<form method="post" name="deleteAdForm" asp-action="Delete" asp-controller="Advertisement">
<div class="modal fade" id="deleteAdModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Advertisement - <span class="adToDeleteTitle"></span></h5>
        
      </div>
      <div class="modal-body">
        <p>You are about to delete one of your advertisements - "<span class="adToDeleteTitle"></span>". Are you sure about that?</p>
      </div>
      <div class="modal-footer">
        <a onclick="hideDeleteAdModal()" class="btn btn-secondary">Cancel</a>
        <button type="submit" id="deleteAdButton" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
</form>
}

@section Scripts
{
    <script defer src=~/js/loadPreviousImages.js></script>
    <script src="~/js/imageManipulation.js"></script>
    <script defer>
        let deleteFormActionUrl = document.deleteAdForm.action;

        function showDeleteAdModal(title,id) {
            $('.adToDeleteTitle').text(title);

            document.deleteAdForm.action=deleteFormActionUrl+"/"+id;

            $('#deleteAdModal').modal('show');
        }

        function hideDeleteAdModal()
        {
            $('#deleteAdModal').modal('hide');
            document.deleteAdForm.action=deleteFormActionUrl;
        }
    </script>
}