@using Marketplace.Utility
@model Marketplace.ViewModels.MyProfileViewModel

@{
    var profilePictureSrc = "/noProfilePicture.png";
    var description = "No description. Consider adding one.";

    if(@Model.ProfilePictureInBytes != null)
    {
        profilePictureSrc = "data:image;base64,"+Convert.ToBase64String(@Model.ProfilePictureInBytes);
    }

    if(@Model.Description != null)
    {
        description = @Model.Description;
    }
}

@if (User.IsInRole(Helper.AdminRole))
{
    <h6 class="text-success bg-light p-3 text-center">You are logged in as Admin</h6>
}

@if (User.IsInRole(Helper.PremiumRole))
{
     <h6 class="text-warning bg-dark bg-gradient p-3 text-center">You have Premium</h6>
}
<form class="form-control border border-primary" method="post" asp-action="Update" asp-controller="Account" enctype='multipart/form-data'>
<div class="container">
    <div class="row">
        <div class="card col-3 p-0 mb-3 mx-1 border-0">
            <h3>Profile Picture</h3>
            <div class="border border-primary rounded">
                <div class="card-body">
                    <img id="image1" src="@profilePictureSrc" class="card-img" onclick="triggerInputBrowse('imageInput1')" onmouseover="lowerImageOpacity(this)" onmouseout="increaseImageOpacity(this)">
                    <input asp-for="ProfilePicture" id="imageInput1" style="display:none" type="file" onchange="readURL(this,'image1','button1')" accept="image/jpeg, image/png" class="form-control"/>
                </div>
                <div class="card-footer text-center">
                    <button id="changeProfileImage" type="button" onclick="triggerInputBrowse('imageInput1')" class="btn btn-sm btn-primary">Change</button>
                    <button id="button1" type="button" onclick="deleteImage(this,'image1','imageInput1')" class="btn btn-sm btn-danger disabled">Delete</button>
                </div>
            </div>
        </div>
        <div class="card col-8 p-0 mb-3 mx-1 border-0">
            <h3>Contact Info</h3>
            <div class="border border-primary rounded text-center p-3">
                <label>Phone number</label>
                <input asp-for="PhoneNumber" class="form-control text-center" placeholder="Number"/>
                <input asp-for="PhoneNumberAgreement" type="checkbox" class="form-check-input"/>
                <label>I agree that everybody can view this information on my profile page and on my advertisements</label>
                <span class="text-center field-validation-error">@ViewBag.AgreementError</span>
                <span class="text-center field-validation-error">@ViewBag.PhoneError</span>
            </div>
        </div>
    </div>
</div>
<h3>Description</h3>
        @if (Model.Description == null)
        {
            <textarea name="description" placeholder="@description" class="form-control mb-3"></textarea>
        }
        else
        {
            <textarea name="description" class="form-control mb-3">@description</textarea>
        }
        <div class="text-center mb-3">
            <span asp-validation-for="Description" class="text-center"></span>
        </div>
<button class="btn btn-success mb-3" type="submit">Update Profile</button>
<input type="hidden" asp-for="ProfilePictureInBytes"/>
</form>

@section Scripts
{
    <script defer src=~/js/loadPreviousImages.js></script>
    <script src="~/js/imageManipulation.js"></script>
}