@using Marketplace.Utility
@using Marketplace.ViewModels
@model IEnumerable<Marketplace.ViewModels.SimplifiedAdvertisementViewModel>
@{
    var countAds = @Model.Count();
    var profilePictureSrc = "/noProfilePicture.png";
    var description = "This user has no description.";

    if(ViewBag.ProfilePicture != null)
    {
        profilePictureSrc = "data:image;base64,"+Convert.ToBase64String(@ViewBag.ProfilePicture);
    }

    if(ViewBag.Description != null)
    {
        description = @ViewBag.Description;
    }
}

<div class="container">
    <div class="row">
        <div class="card col-3 p-0 mb-3 mx-1 border-0">
            <h3>Profile Picture</h3>
            <div class="border border-primary rounded">
                <div class="card-body">
                    <img id="image1" src="@profilePictureSrc" class="card-img">
                </div>
            </div>
        </div>
    @if (@ViewBag.PhoneNumber != null)
    {
        <div class="card col-8 p-0 mb-3 mx-1 border-0">
        <h3>Contact Info</h3>
            <div class="border border-primary rounded text-center p-3">
                <label>Phone number</label>
                <input readonly value="@ViewBag.PhoneNumber" class="form-control text-center mb-3"/>
                <label>Email</label>
                <input readonly value="@ViewBag.Email" class="form-control text-center"/>
            </div>
        </div>
    }
    else
    {
        <div class="card col-8 p-0 mb-3 mx-1 border-0">
        <h3>Contact Info</h3>
            <div class="border border-primary rounded text-center p-3">
                <label>Email</label>
                <input readonly value="@ViewBag.Email" class="form-control text-center"/>
            </div>
        </div> 
    }
    </div>
</div>
<h3>Description</h3>
        @if (ViewBag.Description == null)
        {
            <textarea readonly name="description" placeholder="@description" class="form-control mb-3"></textarea>
        }
        else
        {
            <textarea readonly name="description" class="form-control mb-3">@description</textarea>
        }

@if (countAds==0)
{
    <h3>This user has no advertisements.</h3>
}
else
{
    <h3>User Advertisements</h3>

    <div class="container">
        @for (var i = 0; i < countAds; i+=4) // responsible for the row count, on each row I want exactly 4 elements, after those 4 elements make a new row
        {
            <div class="row">
            @for (var j = 0; j < 4; j++) // I want 4 columns on current row
            {
                @if (i+j==countAds) // stop displaying if we've reached the end
                {
                    break;
                }

                var currentAd = Model.ElementAt(i+j);
                <div class="card col-3 border border-primary rounded p-0 mb-3">
                    <img src="data:image;base64,@currentAd.ImageInBase64" class="card-img-top">

                    <div class="card-body text-center">
                        <h6 class="card-title">@currentAd.Title</h6>
                    </div>
                    <div class="card-footer bg-light">
                        <div class="text-center">
                            <h6 class="font-s">@currentAd.Price EUR</h6>
                            <a class="btn btn-sm btn-dark" asp-action="Show" asp-controller="Advertisement" asp-route-id="@currentAd.Id">SHOW</a>
                            @if (User.IsInRole(Helper.AdminRole))
                            {
                                <a class="btn btn-sm btn-danger" onclick="showDeleteAdModal('@currentAd.Title',@currentAd.Id)">DELETE</a>
                                
                            }
                            </div>
                    </div>
                        <h6 class="bg-warning text-dark p-1 m-0 font-s">@currentAd.Location</h6>
                        <h6 class="bg-success text-white p-1 m-0 font-s">@currentAd.Category</h6>
                </div>
            }
            </div>
        }
    </div>

    @if (User.IsInRole(Helper.AdminRole))
    {
        <!-- Modal -->
        <form method="post" name="deleteAdForm" asp-action="Delete" asp-controller="Advertisement">
        <div class="modal fade" id="deleteAdModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Advertisement - <span class="adToDeleteTitle"></span></h5>
        
              </div>
              <div class="modal-body">
                <p>You are about to delete - "<span class="adToDeleteTitle"></span>". Are you sure about that?</p>
              </div>
              <div class="modal-footer">
                <a onclick="hideDeleteAdModal()" class="btn btn-secondary">Cancel</a>
                <button type="submit" id="deleteAdButton" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
        </form>
    }
}

@section Scripts
{
    @if (User.IsInRole(Helper.AdminRole))
    {
       <script defer src="~/js/deleteAdvertisement.js"></script>
    }
}
