@model Marketplace.ViewModels.ShowAdvertisementViewModel
@{
    var firstSrc = "/plusSign.png";
    var secondSrc = "/plusSign.png";
    var thirdSrc = "/plusSign.png";

    var profilePictureSrc = "/noProfilePicture.png";

    if (@Model.AdditionalImagesInBytes != null)
    {
        var countAdditionalImages = @Model.AdditionalImagesInBytes.Count();

        switch (countAdditionalImages)
        {
            case 1:
                firstSrc = "data:image;base64,"+Convert.ToBase64String(@Model.AdditionalImagesInBytes.ElementAt(0));
                break;
            case 2:
                firstSrc = "data:image;base64,"+Convert.ToBase64String(@Model.AdditionalImagesInBytes.ElementAt(0));
                secondSrc = "data:image;base64,"+Convert.ToBase64String(@Model.AdditionalImagesInBytes.ElementAt(1));
                break;
            case 3:
                firstSrc = "data:image;base64,"+Convert.ToBase64String(@Model.AdditionalImagesInBytes.ElementAt(0));
                secondSrc = "data:image;base64,"+Convert.ToBase64String(@Model.AdditionalImagesInBytes.ElementAt(1));
                thirdSrc = "data:image;base64,"+Convert.ToBase64String(@Model.AdditionalImagesInBytes.ElementAt(2));
                break;
        }
    }

    if(@Model.ProfilePicture != null)
    {
        profilePictureSrc = "data:image;base64,"+Convert.ToBase64String(@Model.ProfilePicture);
    }
}

<h3 class="text-center mb-3">View An Advertisement</h3>

<div class="container">
<div class="row justify-content-md-center">
    <div class="card col-4 border border-primary rounded p-0 mb-3 mx-1">
        <div class="card-body">
            <img id="image1" src="data:image;base64,@Convert.ToBase64String(@Model.ImageInBytes)" class="card-img" onclick="zoomImage(this)">
        </div>
    </div>
    @if (Model.AdditionalImagesInBytes != null)
    {
        if (Model.AdditionalImagesInBytes.Count() == 1)
        {
            <div class="card col-2 border-0 p-0 mb-3 mx-1">
                <div class="border border-primary rounded">
                    <div class="card-body">
                        <img id="image2" src="@firstSrc" class="card-img" onclick="zoomImage(this)">
                    </div>
                </div>
            </div>
        }
        if(Model.AdditionalImagesInBytes.Count() == 2)
        {
            <div class="card col-2 border-0 p-0 mb-3 mx-1">
                <div class="border border-primary rounded">
                    <div class="card-body">
                        <img id="image2" src="@firstSrc" class="card-img" onclick="zoomImage(this)">
                    </div>
                </div>
            </div>
            <div class="card col-2 border-0 rounded p-0 mb-3 mx-1">
                <div class="border border-primary rounded">
                    <div class="card-body">
                        <img id="image3" src="@secondSrc" class="card-img" onclick="zoomImage(this)">
                    </div>
                </div>
            </div>
        }
        if(Model.AdditionalImagesInBytes.Count() == 3)
        {
            <div class="card col-2 border-0 p-0 mb-3 mx-1">
                <div class="border border-primary rounded">
                    <div class="card-body">
                        <img id="image2" src="@firstSrc" class="card-img" onclick="zoomImage(this)">
                    </div>
                </div>
            </div>
            <div class="card col-2 border-0 rounded p-0 mb-3 mx-1">
                <div class="border border-primary rounded">
                    <div class="card-body">
                        <img id="image3" src="@secondSrc" class="card-img" onclick="zoomImage(this)">
                    </div>
                </div>
            </div>
            <div class="card col-2 border-0 p-0 mb-3 mx-1">
                <div class="border border-primary rounded">
                    <div class="card-body">
                        <img id="image4" src="@thirdSrc" class="card-img" onclick="zoomImage(this)">
                    </div>
                </div>
            </div>
        }
    }
</div>
</div>
    <div class="container">
        <div class="row">
        <div class="col-8">
            <div class="form-group mb-3">
                <label asp-for=Title></label>
                <input readonly class="form-control form-control-lg" asp-for=Title placeholder="Title"/>
            </div>
            <div class="form-group mb-3">
                <label asp-for=Description></label>
                <textarea readonly class="form-control" asp-for=Description rows="3"></textarea>
            </div>
            <div class="form-group mb-3">
                <label asp-for=Price></label>
                <input readonly class="form-control" asp-for=Price/>
            </div>
            <div class="form-group mb-3">
                <label asp-for=Location></label>
                <input readonly class="form-control" asp-for=Location/>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategoryName"></label>
                <input readonly class="form-control" asp-for="CategoryName" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="DateCreatedOn"></label>
                <input readonly class="form-control" asp-for="DateCreatedOn" />
            </div>
        </div>
        <div class="col-4">
            <div class="container">
                <h4 class="text-center">Seller</h4>
                <div class="card border border-primary">
                    <div class="card-body">
                        <img id="image1" src="@profilePictureSrc" class="card-img">
                    </div>
                    <a class="text-center pb-3" id="visitProfile" asp-action="@Model.UserName" asp-controller="Users">@Model.UserName</a>
                </div>
            </div>
            <div class="container">
                <h4 class="text-center">Contact Info</h4>
                <p class="">@Model.Email</p>
                <p class="">@Model.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="zoomImageModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <p></p>
          <button onclick="closeZoomImageModal()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <img id="modalImage" src=""/>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

@section Scripts
{
    <script>
        function zoomImage(image)
        {
            let modalImage = document.querySelector("#modalImage");

            modalImage.src=image.src;

            $('#zoomImageModal').modal('show');
        }
        function closeZoomImageModal()
        {
            $('#zoomImageModal').modal('hide');
        }
    </script>
}